<div class="navbar">

    <div class="container-fluid">
        <div> <h1>Krishna Property</h1></div>
        <div class="d-flex">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Listing</button>
           
    <button type="button" class="btn btn-danger mx-3" routerLink="/login">Logout</button>
        </div>
    </div>
</div>

<div class="jumbotron mx-4">
    <h3 class="display-4">Properties in Noida</h3>
    <p >You can add property Data Here Free</p>

    
    
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Property Title</th>
        <th scope="col">Property Price</th>
        <th scope="col">Property Location</th>
        <th scope="col">Property Details</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of allProperties">
       <td>{{data.id}}</td>
        <td>{{data.ptitle | titlecase}}</td>
        <td>{{data.pprice | currency}}</td>
        <td>{{data.plocation}}</td>
        <td>{{data.pdetails}}</td>
       <td>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Edit</button>
        <button type="button" class="btn btn-success mx-2">View</button>
        <button type="button" class="btn btn-danger mx-2" (click)="deleteProperty(data)">Delete</button>
       </td>
      </tr>
      
    </tbody>
  </table>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Property Records Form</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
        
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Property Title</label>
          <input type="text" formControlName="ptitle" class="form-control" id="formGroupExampleInput" placeholder="ABC Property">
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Property Price</label>
          <input type="text" formControlName="pprice" class="form-control" id="formGroupExampleInput2" placeholder="1000000">
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Property Location</label>
          <input type="text" formControlName="plocation" class="form-control" id="formGroupExampleInput" placeholder="Noida">
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Property Details</label>
          <input type="text" formControlName="pdetails" class="form-control" id="formGroupExampleInput2" placeholder="2 BHK with Pool and Parking">
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button id="clear" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addProperty()">Add Listing</button>
        <button type="button" class="btn btn-warning">Update Listing</button>
      </div>
    </div>
  </div>
</div>